.main-title {
  font-size: 80px;
  color: #4B321D;
  line-height: 100px
}

.secondary-title {
  font-size: 80px;
  color: #4B321D;
  line-height: 100px;
  letter-spacing: -1px;
  padding: 0 0 45px 0;
}

