.services{
  padding-top: 100px;
}

.services-content-holder{
  padding-bottom: 90px;
}

.services-title {
  font-size: 38px;
  max-width: 600px;
  line-height: 44px;
  padding-bottom: 25px;
}

.insta-content {
  padding-right: 80px;
}

.services-content {
  padding-left: 90px;
}

.banner-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #4B321D;
  border-radius: 8px;
}

.banner-holder{
  padding: 85px 0 110px;
}

.banner-heading{
  color: #F1F1EB;
  font-size: 80px;
  line-height: 100px;
  padding-left: 60px;
}

.banner-subheading{
  color: #F1F1EB;
  font-size: 26px;
  line-height: 36px;
  padding-left: 60px;
}